@CHARSET "UTF-8";
.line-contact {
	margin-top: 3%;
	border-bottom: 4px solid #F8F8F8;
	margin-bottom: 1%
}
.font-contact {
	font: 20pt cursive;
}
.contact-background {
	background-color: #F8F8F8;
	margin-bottom: 5%;
	min-height: 300px;
}
.contact-vertical-linen {
	border-right: 5px solid white;
}
.text-contact-title {
	font: 12pt cursive;
	
}
.holycontent{
	  min-height: 45em;
}
.line-about {
	border-bottom: 4px solid #F8F8F8;
}
.font-about {
	font: 20pt cursive;
	
}
.image-about {
   margin-top: 2%;
   background: url(../images/logosign.jpg) no-repeat center top;
   width: 100%;
   padding-bottom:28em;
   background-size:auto;
   margin-bottom: 1%;
}
 .about-footer-margin {
 margin-bottom: 3%;
 }
 .line-jobs {
	margin-top: 3%;
	border-bottom: 4px solid #F8F8F8;
	margin-bottom: 1%
}
.font-jobs {
	font: 20pt cursive;
}
.jobs-background {
	background-color: #F8F8F8;
	margin-bottom: 5%;
	border-radius: 5px; 
}
.jobs-vertical-linen {
	border-right: 5px solid white;
}
.holycontent{
	min-height:50em;
}
.text-jobs-title {
	font: 12pt cursive;
}
.img-jobs-margin {
	margin-bottom: 1%;
}
.image-width-height {
	width: 50%;
	height: 50%;
}
p {
    text-indent: 1em; /* Отступ первой строки в пикселах */
}
.font-size-ourmission {
	font-size: 14pt;
}
.margin-bottom-team {
	margin-bottom: 2em;
	
}
.font-family-team {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;
font-weight: 700;
text-align: center;
font-size: 18px;
margin-top: 1em;
color: black;
}
.font-family-team-small{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
text-align: center;
font-size: 15px;
font-weight: 700;
}
.fafa-icon-team {
text-align: center;
color: black;
margin-top: 0.5em;
}
.background-color-team {
margin-top: 3em;
margin-bottom: 3em;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.background-whywe{
background-color: #E7E7E7;
margin-bottom: 3em;
}
.font-family-whywe {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
font-size: 19px;
font-weight: 700;
margin-top: 2em;
}
.font-family-howitworks{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
font-size: 18px;
font-weight: 500;
margin-top: 1em;
}	
.background-howitworks {
background-color: #F8F8F8;
}
.text-help-page-q {
	font-weight: bold;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #777;
    font-size: 18px;
}
.text-help-page-a {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #999;
    font-size: 18px;
}
.margin-bottom-help {
	margin-bottom: 3em;
}
.text-file-conversions-name {
	font-weight: bold;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #777;
    font-size: 20px;
}
.text-file-conversions-text {
	text-align: justify;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #999;
    font-size: 16px;
    margin-bottom: 1em;
}
.text-align-justify {
	text-align: justify;
}
.margin-bottom-input-support {
	 margin-bottom: 1.5em;
}
.right-support {
	float: right;
	margin-top: 1.5em;
	margin-right: 1em;
	margin-bottom: 1.6em;
}
.background-color-support {
	background-color: #F8F8F8; 
}
.margin-top-support {
	margin-top: 1em;
	margin-bottom: 5em;
}
.margin-top-support-input{
	margin-top: 2em;
}

/*Our team */
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
  	float:left;
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}
.input-height-support-email {
	height: 4em;
}
.input-height-support-message {
	height: 10em;
}
.padding-text-license {
	padding: 4em;
}
p {
	margin: 0px 0px 0px;
}
