@CHARSET "UTF-8";
.line-contact {
	margin-top: 3%;
	border-bottom: 4px solid #F8F8F8;
	margin-bottom: 1%
}
.font-contact {
	font: 20pt cursive;
}
.contact-background {
	background-color: #F8F8F8;
	margin-bottom: 5%;
}
.contact-vertical-linen {
	border-right: 5px solid white;
}
.text-contact-title {
	font: 12pt cursive;
	
}
.holycontent{
	  min-height: 45em;
}
.line-about {
	border-bottom: 4px solid #F8F8F8;
}
.font-about {
	font: 20pt cursive;
	
}
.image-about {
   margin-top: 2%;
   background: url(../images/logosign.jpg) no-repeat center top;
   width: 100%;
   padding-bottom:28em;
   background-size:auto;
   margin-bottom: 1%;
}
 .about-footer-margin {
 margin-bottom: 3%;
 }
 .line-jobs {
	margin-top: 3%;
	border-bottom: 4px solid #F8F8F8;
	margin-bottom: 1%
}
.font-jobs {
	font: 20pt cursive;
}
.jobs-background {
	background-color: #F8F8F8;
	margin-bottom: 5%;
	border-radius: 5px; 
}
.jobs-vertical-linen {
	border-right: 5px solid white;
}
.holycontent{
	  min-height: 25em;
}
.text-jobs-title {
	font: 12pt cursive;
}
.img-jobs-margin {
	margin-bottom: 1%;
}
.image-width-height {
	width: 50%;
	height: 50%;
}
p {
    text-indent: 1em; /* Отступ первой строки в пикселах */
}
.font-size-ourmission {
	font-size: 14pt;
}
.margin-bottom-team {
	margin-bottom: 2em;
	
}
.font-family-team {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;
font-weight: 700;
text-align: center;
font-size: 18px;
margin-top: 1em;
color: black;
}
.font-family-team-small{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
text-align: center;
font-size: 15px;
font-weight: 700;
}
.fafa-icon-team {
text-align: center;
color: black;
margin-top: 0.5em;
}
.background-color-team {
margin-top: 3em;
margin-bottom: 3em;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.background-whywe{
background-color: #E7E7E7;
margin-bottom: 3em;
}
.font-family-whywe {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
font-size: 19px;
font-weight: 700;
margin-top: 2em;
}
.font-family-howitworks{
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: none;	
color: #777;
font-size: 18px;
font-weight: 500;
margin-top: 1em;
}	
.background-howitworks {
background-color: #F8F8F8;
}
.text-help-page-q {
	font-weight: bold;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #777;
    font-size: 18px;
}
.text-help-page-a {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #999;
    font-size: 18px;
}
.margin-bottom-help {
	margin-bottom: 3em;
}
.text-file-conversions-name {
	font-weight: bold;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #777;
    font-size: 20px;
}
.text-file-conversions-text {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;	
    color: #999;
    font-size: 16px;
    margin-bottom: 1em;
}