@CHARSET "UTF-8";
.sign-in-background{
	background-color: #F8F8F8;
	margin-top: 10%;
	border-radius: 10px;
	margin-bottom: 8%;
	width: 24em;
	
}
.sign-up-background{
	background-color: #F8F8F8;
	margin-top: 5%;
	border-radius: 10px;
	margin-bottom: 10%;
	width: 24em;
	}
.sign-feld-margin-top {
 margin-top: 5%;	
}
.signup-background {
background: url(../images/logosign1.jpg) no-repeat center top;
background-size:auto;
padding-bottom:10em;

  }
  
  .hidemyass{
  	visibility:hidden;
  }
  .unhidemyass{
  	visibility:visible;
  }
  .height-sign {
  height: 40em;
  }
  .sign-footer-margin {
  margin-top: 0%;
  }
  .height-input-string-signin
  {
  height:3em;
  }
  .height-input-string-signup
  {
  height:2.9em;
  }
  .color-style-validation
  {
  font-weight: bold;
  }
 