@CHARSET "UTF-8";
.sign-in-background{
	background-color: #FFFDFD;
	margin-top: 10%;
	border-radius: 10px;
	margin-bottom: 8%;
	width: 24em;
	
}
.sign-up-background{
	background-color: #FFFDFD;
	margin-top: 5%;
	border-radius: 10px;
	margin-bottom: 10%;
	width: 24em;
	}
.sign-feld-margin-top {
 margin-top: 5%;	
}
.signup-background {
background: url(../images/logosign3.jpg) center top;
background-size:auto;
padding-bottom:10em;

  }
  
  .hidemyass{
  	visibility:hidden;
  }
  .unhidemyass{
  	visibility:visible;
  }
  .height-sign {
  height: 48em;
  }
  .sign-footer-margin {
  margin-top: 0%;
  }
  .height-input-string-signin
  {
  height:3em;
  }
  .height-input-string-signup
  {
  height:4.35em;
  }
  .color-style-validation
  {
  font-weight: bold;
  }
  .margin-forgot-password {
  margin-bottom: 1em;
  }
 .radio-height {
 height: 2.5em;
 }