@CHARSET "UTF-8";
.sign-in-background{
	background-color: #F8F8F8;
	margin-top: 10%;
	border-radius: 10px;
	margin-bottom: 8%;
	width: 25em;
	
}
.sign-up-background{
	background-color: #F8F8F8;
	margin-top: 5%;
	border-radius: 10px;
	margin-bottom: 10%;
	}
.sign-feld-margin-top {
 margin-top: 5%;	
}
.signup-background {
background: url(../images/logosign.jpg) no-repeat center top;
background-size:auto;
padding-bottom:10em;

  }
  
  .hidemyass{
  	visibility:hidden;
  }
  .unhidemyass{
  	visibility:visible;
  }
  .height-sign {
  height: 40em;
  }