@CHARSET "UTF-8";
.miniature-image {
	height: 60%;
	width: 50%;
	}
.background-user-string
{
	background-color: #E7E7E7;
}
.font-user-color {
color: #696969;	
}
.font-user-color:hover {
color: #808080;
}
